@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Raleway:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}
/*--------------------------------MAIN PAGE-------------------------------*/
.btn-lg {
  font-size: 22px;
  text-decoration: none;
  font-weight: bold;
}
.homePage {
  font-size: 16px;
}
.card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 310px;
  transition: opacity 0.4s ease;
  box-shadow: 0px 4px 4px 0px rgb(149, 148, 150);
  margin-bottom: 40px;
}

.card p {
  line-height: 20px;
  font-size: 15px;
}

.card img {
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  flex: 5;
}

.side {
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 220px;
  border-radius: 5px;
  margin-left: 30px;
  gap: 10px;
  font-size: 16px;
  transition: opacity 0.4s ease;
  box-shadow: 2px 2px 2px 2px #e59c9c;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
}
#price-filter {
  flex-direction: column;
  display: flex;
  gap: 2px;
}
.price-checkbox {
  cursor: pointer;
}
/*-------------------MAIN PAGE SLIDER ---------------------*/

.container-slider {
  width: 70vmin;
  position: relative;
  transform: translate(-50%, -50%);
  margin-top: 34px;
  left: 50%;
  overflow: hidden;
}
.wrapper {
  margin-top: 305px;
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
img {
  width: 100%;
}

/*-----------------------------DETAILS PAGE---------------------------*/
.details {
  border: 2px solid #e59c9c;
  margin: auto;
  margin-top: 5%;
  width: 50%;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}
.details:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.details img {
  float: left;
  margin-left: 60px;
  margin-top: 50px;
  width: 300px;
  height: 300px;
}

.description {
  margin-left: 20px;
  margin-right: 50px;
  line-height: 1.6;
  margin-top: 70px;
  margin-bottom: 40px;
}
.dts {
  margin-left: 390px;
  margin-top: 80px;
  line-height: 1.6;
}

.btn-details {
  height: 10px;
  width: 40px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  background-color: #e59c9c;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 12px 30px;
  font-size: 14px;
  transition: 0.4s;
}

.btn-details:hover {
  background-color: #5e583b;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#app {
  width: 80%;
  margin: auto;
}

.add-to-cart {
  border-radius: 3px;
  height: 40px;
  border-color: #e59c9c;
  cursor: pointer;
}

.btn-admin,
.btn-cart,
#add-new-product {
  justify-content: center;
  background-color: #e59c9c;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 12px 30px;
  font-size: 14px;
  transition: 0.4s;
}
/*------------------------------CART PAGE---------------------*/
.container-cart {
  margin: auto;
  width: 70%;
}
.cartImg {
  width: 50px;
}

.confirm {
  display: none;
  position: fixed;
  width: 400px;
  padding: 2rem;
  font-weight: bold;
  color: white;
  background-color: #e59c9c;
  text-align: center;
  border-radius: 10px;
  font-size: 1.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table {
  text-align: center;
}

.table {
  width: 1000px;
}

.minus,
.plus {
  border-radius: 4px;
  width: 20px;
  border: solid 1px rgb(62, 60, 60);
}

.cartName {
  text-decoration: none;
  color: black;
}

.greenText {
  color: green;
}
.cart-row-total {
  font-weight: bold;
}
.removeBtn {
  cursor: pointer;
  color: red;
  font-weight: bold;
  text-decoration: none;
}
.totalPrice {
  font-weight: bold;
  margin-left: 300px;
  width: 200px;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 20%);
  border-radius: 5px;
  padding: 15px;
  line-height: 1.8;
  text-align: center;
}

.buyBtn {
  justify-content: center;
  background-color: #e59c9c;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 12px 30px;
  font-size: 14px;
  transition: 0.4s;
}
/*------------ADMIN PAGE--------------*/
.container {
  margin-top: -270px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
}
#products-list {
  margin: auto;
  width: 80%;
}
.add-product-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 40px;
  border: 2px solid #e59c9c;
  border-radius: 5px;
  padding: 20px;
}

.admin-container .header,
.admin-container .add-product-header {
  display: flex;
  justify-content: space-between;
}

.add-product-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-product-form .item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.edit-form .item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.add-product-form .item .label-item {
  flex: 1;
}

.add-product-form .item .input-item {
  flex: 2;
}

.add-product-form .item .input-item input {
  width: 100%;
}

/*------------ADMIN PAGE--------------*/
.add-product-message,
.edit-product-message,
.details-message {
  position: fixed;
  color: white;
  font-weight: bold;
  background-color: #e59c9c;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  font-size: 1.2em;
  width: 400px;
  padding: 2rem;
  text-align: center;
}
.edit {
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: white;
  border: 2px solid #e59c9c;
  border-radius: 5px;
  gap: 20px;
  margin: 0;
  padding: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}
#edit-container {
  width: 550px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-form .item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.edit-form .item .label-item {
  flex: 1;
}

.edit-form .item .input-item {
  flex: 3;
}

.edit-form .item .input-item input {
  width: 100%;
}
/* UTILS*/
.buyConfirmation {
  /* display: flex; */
  position: fixed;
  color: white;
  font-weight: bold;
  background-color: #e59c9c;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  font-size: 1.2em;
  width: 400px;
  padding: 2rem;
  text-align: center;
}
.hidden {
  display: none;
}
