@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Raleway:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

.card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 310px;
  transition: opacity 0.4s ease;
  box-shadow: 0px 4px 4px 0px rgb(149, 148, 150);
  margin-bottom: 40px;
}

.card p {
  line-height: 20px;
  font-size: 15px;
}

.card img {
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  flex: 5;
}

.container {
  display: flex;
}

.side {
  flex: 1;
  margin-left: 30px;
}
.price-checkbox {
  cursor: pointer;
}

/*DETAILS*/

.details img {
  float: left;
  margin-left: 60px;
  margin-top: 50px;
  width: 300px;
  height: 300px;
}

.description {
  margin-left: 20px;
  margin-right: 50px;
  line-height: 1.6;
  margin-top: 170px;
}
.dts {
  margin-left: 390px;
  margin-top: 80px;
  line-height: 1.6;
}

.btn-details {
  height: 10px;
  width: 40px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  background-color: #e59c9c;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 12px 30px;
  font-size: 14px;
  transition: 0.4s;
}

.btn-details:hover {
  background-color: #5e583b;
  color: white;
}

/*INTRO */
.intro {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#app {
  width: 80%;
  margin: auto;
}

.add-to-cart {
  border-radius: 3px;
  height: 40px;
  border-color: #e59c9c;
  cursor: pointer;
}

.btn-admin {
  justify-content: center;
  background-color: #e59c9c;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 12px 30px;
  font-size: 14px;
  transition: 0.4s;
}
.btn-cart {
  justify-content: center;
  background-color: #e59c9c;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 12px 30px;
  font-size: 14px;
  transition: 0.4s;
}

/*admin page*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
}

.add-product-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 40px;
  border: 2px solid lightblue;
  border-radius: 5px;
  padding: 20px;
}

.admin-container .header,
.admin-container .add-product-header {
  display: flex;
  justify-content: space-between;
}

.add-product-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-product-form .item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.add-product-form .item .label-item {
  flex: 1;
}

.add-product-form .item .input-item {
  flex: 2;
}

.add-product-form .item .input-item input {
  width: 100%;
}
.hidden {
  display: none;
}

.error {
  background-color: red;
}

.success {
  background-color: green;
}
