@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Roboto:wght@300&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

h2 {
  color: #c83859;
  text-align: center;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 11px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #c83859;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: #da7c91;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  content: "";
  display: table;
  clear: both;
  margin: auto;
  margin-top: 80px;
}

.left,
.right {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.right img {
  width: 560px;
  margin-right: 9px;
  height: 430px;
  border: 4px solid #c83859;
  border-radius: 5px;
}

.error {
  border: 4px solid red !important;
  outline: none;
}

.green {
  height: 40px;
  width: 500px;
  text-align: center;
  margin: 30px 950px;
  color: white;
  font-weight: bold;
  background-color: #6ad56a;
  border-radius: 4px;
  margin: auto;
  width: 50%;
  margin-top: 10px;
}

/*Responsive - Media Query*/

/* Desktop */
@media only screen and (min-width: 1024px) {
  .right img {
    width: 540px;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .right img {
    width: 335px;
  }
}

/* Smartphone */
@media only screen and (max-width: 767px) {
  .right img {
    width: 160px;
  }
}
